@import 'tailwindcss';

@theme {
  --color-default-text: #1e1e2c;
  --color-light-text: #5f616b;
  --color-orange-text: #f7653d;

  --color-white-gray: #f6f6f6;
  --color-light-gray: #d9d9d9;
  --color-dark-gray: #5f616b;

  --color-light-transparent-gray: #d9d9d9cc;
  --color-light-transparent-gray-hover: #ebebebcc;
  --color-light-transparent-gray-active: #d9d9d9cc;

  --color-button-yellow: #ffd43a;
  --color-button-yellow-hover: #ffce1f;
  --color-button-yellow-active: #ffdc5c;

  --color-button-gray: #d9d9d9;
  --color-button-gray-hover: #cccccc;
  --color-button-gray-active: #ebebeb;

  --color-comment-blue-line: #b1f3fc;
  --color-comment-blue-background: #f7feff;

  --color-custom-white: #ffffff;
  --color-outline: #d9d9d9;
}

:root {
  font-family: 'Figtree', serif;
  font-optical-sizing: auto;
  background-color: #d9d9d9;
}
